* {
    box-sizing: border-box;
}

html {
    display: block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

/* header */
header {
    width: 100%;
    height: 4rem;
    z-index: 10;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
}

#logo{
    display: inline-block;
    margin: 1rem auto 1rem 1.5rem;
}

#logo a, #logo p, #logo img {
    display: inline-flex;
    align-self: center;
}

#logo p{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#logo p span {
    color: hsla(240, 5%, 40%, 1);
    font-weight: 500;
}


header nav {
    display: inline-block;
    z-index: 10;
    
    height: 4rem;
}

header ul {
    height: 100%;
    align-self: flex-end;
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;

}
 header ul li {
     padding: 0 1rem;
     color: hsla(240, 5%, 40%, 1);
     font-weight: bold;
 }

/* CTA banner */

main {
    display: block;
    position: relative;
    top: 4rem;
    background-color: coral;
}
